
<style>
  body {
    background-image: url("http://hdwyn.com/wallpaper_gray/gray_mountain_top_island_grass_faded_clouds_sky_hd-wallpaper-59175.jpg");
        }
</style>

<body>
  <div class= "navbar navbar-default col-md-12">
    <a href='/' class='navbar-brand'>Welcome to Task Manager</a>
      <ul class="nav navbar-nav navbar-right navbar-danger">
        <li><a href = "/tasks" role="button">Task Index</a></li>
        <li><a href = "/tasks/new" role="button">Task Index</a></li>
      </ul>
  </div>

  <!-- <div class="jumbotron"> -->
  <div class='container'>
    <div class ="col-md-12">
    <h1><font face="verdana" color="black" font size ="10"><p class="text-left">GET.</p></font></h1>
    <h1><font face="verdana" color="black" font size ="10"><p class="text-left">SHIT.</p></font></h1>
    <h1><font face="verdana" color="black" font size ="10"><p class="text-left">DONE.</p></font></h1>

    <p><a class="btn btn-danger btn-md" href="http://pablotheflamingo.com/" role="button">Or, click here.</a></p>
  </div>
  </div>
</div>

</body>
  <blockquote class="blockquote-reverse">
  <p>Believe you can and you’re halfway there.</p>
  <footer>Teddy Roosevelt</footer>
  </blockquote>
