<style>
  body {
    background-image: url("https://wallpaperscraft.com/image/mountain_snowboard_top_fog_conquest_11541_1600x1200.jpg");
        }
</style>

<h1>All Tasks</h1>

<% @tasks.each do |task| %>
  <div
  <h3><%= task.id %>: <a href="/tasks/<%= task.id %>"><%= task.title %></a></h3>
<% end %>
