<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/bootstrap-theme.css">
  <link rel="stylesheet" href="/bootstrap.css">
  <link rel="stylesheet" href="/example.css">
</head>
<body>
    <%= yield %>
</body>
</html>
