<style>
  body {
    background-image: url("http://41.media.tumblr.com/409ea96487756e61a0a012098890be86/tumblr_mya0umxP1L1scu9vwo1_1280.jpg");
        }
</style>

<form action="/tasks" method="post">
  <p>Enter a new task:</p>
  <input type='text' name='task[title]'/><br/>
  <textarea name='task[description]'></textarea><br/>
  <input type='submit'/>
</form>
